@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ----------------------
   Base CSS variables
------------------------*/
@layer base {
  :root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --radius: 0.625rem;
  }

  .dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --border: oklch(1 0 0 / 10%);
    --ring: oklch(0.556 0 0);
  }

  .theme {
    --font-sans: 'Geist Variable', sans-serif;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
  }

  html {
    font-family: var(--font-sans);
  }
}

/* ----------------------
   Custom Tailwind utilities
------------------------*/
@layer utilities {
  .border-border {
    border-color: var(--border);
  }
  .outline-ring {
    outline-color: var(--ring);
  }
  .bg-background {
    background-color: var(--background);
  }
  .text-foreground {
    color: var(--foreground);
  }
}

/* ----------------------
   Apply custom utilities
------------------------*/
 /* * {
    @apply border-border outline-ring;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  } */

.ql-toolbar {
  border: none !important;
  background-color: #f8f8f8 !important;
}

.ql-toolbar .ql-formats:not(:last-child) {
  border-right: 1px solid #dcdcdc !important;
  padding-right: 12px !important;
}

.ql-container {
  border: none !important;
  height: unset !important; /* automatically adjust w.r.t content */
  font-family: 'Lato', sans-serif !important;
}

.ql-editor {
  font-family: 'Lato', sans-serif !important;
  font-size: 14px !important;
  line-height: 22px !important;
  padding: 8px 12px !important;
  color: #1d1d1d !important;
  font-weight: 400 !important;
}

.ql-editor a:hover {
  text-decoration: underline !important;
}

.ql-editor a {
  color: #1264a3 !important;
}

.ql-renderer {
  padding: 0 !important;
}

.ql-editor:before {
  left: 12px !important;
  font-family: 'Lato', sans-serif !important;
  font-style: normal !important;
  font-weight: 400 !important;
  color: #8d8d8d !important;
  @apply truncate;
}